<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ALEX LI</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

  <!-- VENDOR FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/app.js"></script>
</head>

<body>
  <!-- THE FORM -->
  <div class="container">
    <hr>
    <h1 class="text-center">Welcome to the Movies App!</h1>
    <hr>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form class="form-inline" id="newMovieForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" placeholder="Movie title">
          </div>
          <div class="form-group">
            <label for="title">Starring</label>
            <input type="text" class="form-control" name="staring" placeholder="Movie starring">
          </div>
          <div class="form-group">
            <label for="title">Release Date</label>
            <input type="text" class="form-control" name="releaseDate" placeholder="Show Date">
          </div>
          <br><br>
          <button type="submit" class="btn btn-default">Create new movie</button>
        </form>
        <h2>LIST OF MOVIES</h2>
        <div id='movieTarget'>
          <!-- handlebars template -->
          <script id="movies-template" type="text/x-handlebars-template">
            {{#each movies}}
            <hr>
            <p>
              <b>{{title}}</b> starring: {{staring}} release on {{releaseDate}}
              <button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data-id={{_id}}>Delete</button>
            </p>
            {{/each}}
          </script>
        </div>
        <hr>
        <br>
        <br>
        <center>
          <h2><a href="/api">Read My API Documentation</a></h2>
        </center>
      </div>
    </div>
  </div>


</body>

</html>
